<% @projets.each do |projet| %>
<div class="inner">
  <table class="table">
	<tr>
	  <th class="first"><%= projet.name %></th>
	  <th><%= projet.description %></th>
	  <th class="last"><%= button_to 'voir', url(:projets, :show, :id => projet.id), :method => :get, :class => :button_to %></th>
	</tr>	
	<% projet.environnements.each do |environnement| %>
		<tr>
		  <td class="first light-medium-grey"><%= environnement.name %></td>
		  <td class="first light-medium-grey"><%= environnement.description %></td>
		  <td class="last light-medium-grey"><%= button_to 'voir', url(:environnements, :show, :id => environnement.id), :method => :get, :class => :button_to %></td>
		</tr>	
		<% environnement.branches.each do |branch| %>
			<tr>
			  <td class="first"><%= branch.name %></td>
			  <td class="first"><%= branch.description %></td>
			  <td class="last"><%= button_to 'voir', url(:branches, :show, :id => branch.id), :method => :get, :class => :button_to %></td>
			</tr>
		<% end %>
    <% end %>
  </table>
</div>
<% end %>
