<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to pat(:list), url(:projets, :index) %></li>
      <li><%= link_to pat(:new), url(:projets, :new) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= pat(:all) %> <% mt(:projets) %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"><%= mat(:projet, :id) %></th>
          <th><%= mat(:projet, :name) %></th>
          <th><%= mat(:projet, :description) %></th>
          <th><%= mat(:projet, :created_at) %></th>
          <th><%= mat(:projet, :updated_at) %></th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @projets.each do |projet| %>
        <tr>
          <td class="first"><%= projet.id %></td>
          <td><%= projet.name %></td>
          <td><%= projet.description %></td>
          <td><%= projet.created_at %></td>
          <td><%= projet.updated_at %></td>
          <td class="last">
            <%= button_to pat(:edit), url(:projets, :edit, :id => projet.id), :method => :get, :class => :button_to %> |
            <%= button_to pat(:delete), url(:projets, :destroy, :id => projet.id), :method => :delete, :class => :button_to, :onsubmit => "return confirm('#{pat(:confirm)}')" %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>
